html, body {
  background-color: #252525;
}

button {
  cursor: pointer;
}

input {
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  accent-color: #cd283c;
}